@import "colorstheme.css";

header{
    margin-top: 15px;
}
/* top header */
.topheaderAds img{
    width: 750px;
    height: 100px;

}
.ceo-headOfEditor  p{
    line-height: 0.9;
    margin-bottom: auto;
    text-align: right;
}
/* bottom header */

.navMainLink{
    color:black !important;
    border-bottom:#1c8cdc00;
    transition: 0ms;
    font-weight: 500;
}
.navMainLink .nav-link {
    color:black !important;
}

.navMainLink:hover{
    border-bottom: 2px solid #1C8BDC;
    border-radius: 8px;
    font-weight: 500;
    margin-bottom: -8px !important;
}

.bottomHeader{
    margin-top: 30px;
}

.navbarMenu {
    display: flex;
    flex-direction: row-reverse !important;
}

.navbarMenu > .close {
    display: none;
}

.dropdown-menu{
    min-width: 60rem;
    width: 77vh;
}
.dropdown-menu.show {
    display: flex !important;
}
.dropdown-item {
    text-align: center !important;
}

.submenu{
    margin-top: 10px !important;
    transform: translateX(-560px);
}
.searchAndOurservices {
    flex-wrap: inherit;
}
.searchBar{
    height: 50px;
    padding-top: 10px;
    border: 2px solid #1C8BDC;
    border-radius: 8px;
    margin-right: 25px !important;
    align-items: flex-start;
    flex-direction: row-reverse;
}
.inputSearch{
    width: 305px;
    border: none;
    text-align: right;
}
.inputSearch:focus-visible{
    outline: none;
}


.advancedSearchButton {
    width: 150px;
    color: white;
    background-color: #08395B;
    padding: 5px;
    border-radius: 8px;
    gap: 5px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.advancedSearchButton p {
font-size: 16px;
margin: 0;
}

.advancedSearchButton:hover {
    border-radius: 4px;
    box-shadow: 1px 2px 3px #00000063;
}

.advancedSearchOption {
    position: relative;

    width: 0;
    display: none;
    grid-template-columns: auto auto auto auto;
}

.sectionsMenu{
    width: fit-content !important;
    border: 2px solid #1C8BDC !important;
    border-radius: 8px !important;
}
.sectionsMenu option{
    text-align: right;
}

.ourServices{
    cursor: pointer;
    position: relative;
    top: -9px;
    padding: 0 !important;
}


.services p{
    height: 34px;
    padding: 5px;
    margin: 0;
    line-height: 1.5!important;
    color: white;
    background-color: #08395B;
    border-radius: 8px;
}
.services::after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: relative;
    left: 20.5px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #08395b;
}

.ourServices .fa-bars{
    color: #1C8BDC !important;
}

@media screen and (max-width: 1024px) {
    .advancedSearchButton {
        width: 119px;
        position: absolute;
        top: 328px;
        left: 104px;
    }

    .inputSearch {
        width: 199px;
        border: none;
        text-align: right;
    }

    .searchBar {
        width: 233px;
    }

    .advancedSearchOption {
        width: 0;
        grid-template-columns: auto auto auto auto;
        top: 77px;
        left: 7px;
    }
}

@media screen and (max-width: 768px) {
    .topheaderAds {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .topheaderAds img{
        width: 80%;
        height: 100px;
    }

    .advancedSearchButton {
        width: 119px;
        position: absolute;
        top: 328px;
        left: 208px;
    }

    .inputSearch {
        width: 260px;
        border: none;
        text-align: right;
    }

    .searchBar {
        width: 348px;
    }

    .advancedSearchOption {
        width: 0;
        grid-template-columns: auto auto auto auto;
        top: 77px;
        left: -28px;
    }

    .navBar > .navbarMenu {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column !important;
        align-items: self-end;
        background-color: #ffffff;
        padding-right: 1em;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }

    .navbarMenu > .close {
        display: block;
    }

}

@media screen and (max-width: 425px) {
    .topheaderAds img{
        width: 90% !important;
    
    }

    .searchAndOurservices {
        width: 100%;
    }

    .inputSearch {
        width: 185px;
        border: none;
        text-align: right;
    }

    .searchBar {
        width: 232px;
    }

    .advancedSearchButton {
        width: 119px;
        position: absolute;
        top: 401px;
        left: 104px;
    }

    .advancedSearchOption {
        width: 0;
        grid-template-columns: auto auto ;
        top: 77px;
        left: 7px;
    }

    .advancedSearchButton p {
        font-size: 12px;
        line-height: 14px;
        text-align: right;
        }
}

@media screen and (max-width: 375px) {
    .advancedSearchButton {
        width: 98px;
        position: absolute;
        top: 399px;
        left: 77px;
    }

    .inputSearch {
        width: 199px;
        border: none;
        text-align: right;
    }

    .searchBar {
        width: 210px;
    }

    .advancedSearchOption {
        width: 0;
        grid-template-columns: auto auto;
        top: 77px;
        left: 7px;
    }
}

@media screen and (max-width: 320px) {

    .mainImage{
        display: none;
    }

    .advancedSearchButton {
        width: 98px;
        position: relative;
        top: 2.5em;
    }

    .inputSearch {
        width: 124px !important;
        border: none;
        text-align: right;
    }

    .searchBar {
        width: 160px !important;
    }

    .advancedSearchOption {
        width: 0;
        grid-template-columns: auto auto;
        top: 50px;
        left: 75px;
    }
}


