.mainContant{
    flex-direction: row-reverse;
}
.newsMainContant{
    width: 76%;
    flex-direction: column;
}
.newsContentAndAds{
    width: 100%;
    flex-direction: row-reverse;
}

.newsContent {
    flex-direction: row-reverse;
    align-content: flex-start;
}

.ads {
    height: fit-content;
    position: sticky;
    top: 50px;
}

.sideBar{
    align-items: center;
    padding-right: 24px;
    width: 24%;
}

.sideBarContent {
    width: fit-content;
    height: fit-content;
    position: sticky;
    top: 60px;
}

.sideBar .newsDetails {
    width: 210px;
    background-color: #08385B;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    color: white;
}

.sectionHeader {
    width: 100%;
    justify-content: space-between;
}

.sectionHeader p{
    font-size: 18px;
    font-weight: 600;
    margin: 0 !important;
    line-height: unset !important;
}

.sidbarAds{
    width: 300px;
    height: 300px;
    margin: 16px 0;
}

#carouselExampleIndicators{
    margin-bottom: 25px;
}


.carousel {
    width: 264px;
    position: relative;
}

.carousel-indicators {
    margin-bottom: -2rem !important;
}

.carousel-indicators [data-bs-target] {
    height: 10px !important;
    width: 10px !important;
    border-radius: 50% !important;
    background-color: #1c8bdc !important;
}

.servaycontainer{

    width: 289px;
    height: 267.79px;
    border: 3px solid #08385B;
    border-radius: 8px;
    padding: 16px;
}

.servaycontainer p{
    font-size: 18;
    line-height: 18px;
    text-align: right;
    font-weight: 500;
}

.servaycontainer .vote{
    width: 134px;
    height: 35px;
    color: white;
    background: #1C8BDC;
    border: 2px solid #1C8BDC;
    border-radius: 8px;
    transition: 200ms ease-in-out;
}

.servaycontainer .vote:hover{
    color: white;
    background: #08385B;
    border: 2px solid #08385B;
    border-radius: 16px;
}

.servaycontainer .result{

    width: 100px;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #08385B;
    font-weight: 600;
    border-bottom: 2px solid #08385B;
    transition: 200ms ease-in-out;
    text-align: center;
    text-decoration: none;
}

.alboumImageSlider {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 50px;
    gap: 16px;
}

#alboumImageSlider{
    width: 100% !important;
}

.alboumImageSlider .sectionHeader {
    width: 100%;
    justify-content:flex-start;
}

.alboumImageSlider .sectionHeader p{
    font-size: 32px;
    font-weight: 700;
    margin: 0 !important;
    line-height: unset !important;
}

#alboumVideoSlider{
    width: 100% !important;
}

.alboumVideoSlider .sectionHeader {
    width: 100%;
    justify-content:flex-start;
}

.alboumVideoSlider .sectionHeader p{
    font-size: 32px;
    font-weight: 700;
    margin: 0 !important;
    line-height: unset !important;
}

.news-wrap{
    display: flex;
    gap: 8px;
}



@media screen and (min-width: 1024px) and (max-width: 1238px) {
    .newsContentAndAds {
        width: 60%;
    }
    .newsContent {
        justify-content: space-around;
    }
    .sideBar {
        align-items: center;
        padding-right: 0;
        width: 40%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .sideBar {
        align-items: center;
        padding-top: 16px;
        padding-right: 0;
        width: 100%;
    }

    .sidbarAds img{
        width: 264px;
        height: 264px;
    }
}

@media screen and (max-width: 425px) {



    .mainContant{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .newsContentAndAds{

        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .ads {
        height: 0;
        position: relative;
        top: 0px;
        margin-bottom: 600px;
    }

    .newsContent{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sideBar {
        align-items: center;
        padding-top: 16px;
        padding-right: 0;
        width: 100%;
    }

    .sidbarAds img{
        width: 300px;
        height: 300px;
    }



}

@media screen and (max-width: 375px) {


}

@media screen and (max-width: 320px) {

}