@import "header.css";
@import "footer.css";
@import "mainContent.css";
@import "heroBanner.css";
@import "articlePage.css";
@import "editorPage.css";
@import "sectionPage.css";
@import "font.css";

body{
    font-family: 'Tajawal', sans-serif !important;
    padding: 0px;
    margin: 0px;
    text-align: right !important;
}

p{
    margin: 0px !important;
    padding: 0px !important;
}

ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
a{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.span-link {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 9999;
  }

.media .mediaBox{
    width: 44px;
    height: 44px;
    background: #1E1E1E;
    color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.media .mediaBox:hover{
    width: 44px;
    height: 44px;
    background: #1C8BDC;
    color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.showeElement{
    display: grid !important;
    animation: showSearchFilter 700ms ease !important;
}

.hiddenElement{
    display: none !important;
}

::-webkit-scrollbar {
    height: 12px !important;
    width: 12px !important;
  }

/* Track */
::-webkit-scrollbar-track {
background: #ffffff00; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--third-color); 
border-radius: 16px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--dark-text-color); 
}

@keyframes showSearchFilter{

    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes hiddenSearchFilter{

    from {
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}